.selected-wine {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#wine-name {
    margin: 40px 0px;
}

#img-wine {
    border-radius: 20px;
    margin-left: 10px;
    width: 30%;
}

.infosWine {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 20px;
}

.textWine {
    font-size: 18pt;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.wineEspec {
    font-size: 17pt;
}

.wineEspecs {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.typeWine {
    margin-right: 20px;
}

.textInfosWine {
    margin-right: 20px;
}

.buy-wine {
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.textPrice {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.textPrice span {
    font-size: 25pt;
    font-weight: 200;
}

.buy-wine .addCart {
    width: 30%;
    height: 60px;
    border-radius: 10px;
    background-color: #6d0101;
    border: 0;
    font-size: 18pt;
    transition: all 1s;
}

.buy-wine .addCart:hover {
    cursor: pointer;
    opacity: 50%;
}

.buttonsQuant,
#input {
  outline: none;
  border: none;
  padding: 16px;
  font-size: 18px;
}

#input {
  width: 100%;
  text-align: center;
  background-color: #636363;
}
.buttonsQuant {
  cursor: pointer;
  background-color: #6d0101;
}
.buttonsQuant:nth-last-child(1) {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.buttonsQuant:nth-child(1) {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.buttonsQuant:hover {
  background-color: #970000;
}
.buttonsQuant:nth-last-child(1):active {
  box-shadow: inset -4px 5px 10px rgba(0, 0, 0, 0.5);
}
.buttonsQuant:nth-child(1):active {
  box-shadow: inset 4px 5px 10px rgba(0, 0, 0, 0.5);
}
.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3), 4px 7px 15px rgba(0, 0, 0, 0.2),
      9px 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 30%;
    margin-bottom: 20px;
}

.couponContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  justify-content: end;
  align-items: center;
}

.couponContainer input{
  background-color: #636363;
  height: 40px;
  margin-right: 10px;
  width: 15%;
  align-items: center;
}

.couponContainer button{
  width: 15%;
  height: 60px;
  border-radius: 10px;
  background-color: #6d0101;
  border: 0;
  font-size: 18pt;
  transition: all 1s;
  cursor: pointer;
}




